@inject ISnackbar _Snackbar
@rendermode InteractiveAuto
@inject HttpClient Http


<MudDialog Class="custom-modal" Style="width: 100vw; height: auto">
    <DialogContent>
        <EditForm Model="@Branch" OnValidSubmit="Submit" Class="custom-form" >
            <DataAnnotationsValidator />

            <MudTextField  Label="اسم المركز" For="@(()=>Branch.Name)" @bind-Value="@Branch.Name"  AdornmentIcon="@Icons.Material.Filled.Add" AdornmentColor="Color.Success"></MudTextField>

            <MudTextField  Label="المنطقة" For="@(()=>Branch.Area)" @bind-Value="@Branch.Area" AdornmentIcon="@Icons.Material.Filled.Add" AdornmentColor="Color.Success"></MudTextField>
         
            <MudTextField Label="الشخص المسؤول" For="@(()=>Branch.ResponsiblePerson)" @bind-Value="@Branch.ResponsiblePerson" AdornmentIcon="@Icons.Material.Filled.Add" AdornmentColor="Color.Success"></MudTextField>

            <MudTextField Label="رقم الجوال" For="@(()=>Branch.Mobile)" @bind-Value="@Branch.Mobile" AdornmentIcon="@Icons.Material.Filled.Add" AdornmentColor="Color.Success"></MudTextField>

            <MudTextField Label="البريد الالكتروني" For="@(()=>Branch.Email)" @bind-Value="@Branch.Email" AdornmentIcon="@Icons.Material.Filled.Add" AdornmentColor="Color.Success" ></MudTextField>

            <div class="mt-5 mb-2 d-flex" style="gap: 10px;">
                                    <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit" Class="mud-button-root mud-button mud-button-outlined mud-button-outlined-info mud-button-outlined-size-medium mud-ripple " style='font-size: 13px;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    padding: 5px 0px;'>@BtnName</MudButton>
                <MudButton OnClick="Cancel" Class="mud-button-root mud-button mud-button-outlined mud-button-outlined-error mud-button-outlined-size-medium mud-ripple" style='font-size: 13px;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    padding: 5px 0px;'>الغاء</MudButton>
                </div>

                </EditForm>
    </DialogContent>
  
</MudDialog>




    @code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose {get; set; }

    [Parameter]
    public Branch? OriginalBranch { get; set; }


    [Parameter]
    public string BtnName { get; set; } = null!;

    string Icon = string.Empty;


    public Branch Branch { get; set; } = new Branch();

  

    protected override void OnParametersSet()
    {
        if (OriginalBranch == null)
        {
            Branch = new Branch();

        }
        else
        {

            Branch = new Branch
            {
                    Id = OriginalBranch.Id,
                    Name = OriginalBranch.Name,
                    Area = OriginalBranch.Area,
                    ResponsiblePerson = OriginalBranch.ResponsiblePerson,
                    Mobile = OriginalBranch.Mobile,
                    Email = OriginalBranch.Email
                
                
            };


        }
    }

    async void Submit()
    {
        if (!string.IsNullOrWhiteSpace(Branch.Name))
        {
            if (Branch.Id == 0)
            {
             
               
                var response = await Http.PostAsJsonAsync("api/Branches/AddOneAsync", Branch);
                if (response.IsSuccessStatusCode)
                {
                    _Snackbar.Add("تم اضافة المركز بنجاح!", Severity.Success);
                }
                else
                {
                    _Snackbar.Add($" لم يتم اضافة المركز: {response.StatusCode}", Severity.Error);
                }
            }

            else
            {

               
                var response = await Http.PutAsJsonAsync("api/Branches", Branch);
                if (response.IsSuccessStatusCode)
                {
                    _Snackbar.Add("تم تعديل المركز بنجاح!", Severity.Success);
                }
                else
                {
                    _Snackbar.Add($" لم يتم تعديل المركز: {response.StatusCode}", Severity.Error);
                }
            }

            MudDialog.Close(DialogResult.Ok(true));

            // Trigger the OnClose event
            OnClose.InvokeAsync(true);
        }
    }


    void Cancel() => MudDialog.Cancel();

    
}




