@inject ISnackbar _Snackbar
@rendermode InteractiveAuto
@inject HttpClient Http

<MudDialog Class="custom-modal" Style="width: 100vw; height: auto">
    <DialogContent>
        <EditForm Model="@SubProject" OnValidSubmit="Submit" Class="custom-form">
            <DataAnnotationsValidator />

            <MudTextField Label="الاسم" Immediate="true" @bind-Value="@SubProject.Name" Adornment="Adornment.End"
                          For="@(()=>SubProject.Name)" AdornmentColor="Color.Success" ReadOnly="@ReadOnlyStatus"></MudTextField>

            <MudSelect Label="نوع المشروع الفرعي" For="@(()=>SubProject.SubProjectType)"
                       @bind-Value="@SubProject.SubProjectType" class="mt-5" ReadOnly="@ReadOnlyStatus">
                <MudSelectItem Value="@subProjectType.Message">@subProjectType.Message.GetDisplayName()</MudSelectItem>
                <MudSelectItem Value="@subProjectType.Seasonal">@subProjectType.Seasonal.GetDisplayName()
                </MudSelectItem>
                <MudSelectItem Value="@subProjectType.Continuous">@subProjectType.Continuous.GetDisplayName()
                </MudSelectItem>
            </MudSelect>

            <MudSelect Label="المشروع" For="@(()=>SubProject.ProjectId)" @bind-Value="@SubProject.ProjectId" ReadOnly="@ReadOnlyStatus">
                <MudSelectItem Value="0">--- اختيار المشروع الرئيسي ---</MudSelectItem>

                @foreach (var project in Projects)
                {
                    <MudSelectItem Value="@project.Id">@project.Name</MudSelectItem>


                }
            </MudSelect>

            <MudGrid>
                <MudItem xs="9">
                    <MudTextField Label="المدة" Immediate="true" @bind-Value="@SubProject.Duration"
                                  Adornment="Adornment.End" For="@(()=>SubProject.Duration)" AdornmentColor="Color.Success" ReadOnly="@ReadOnlyStatus">
                    </MudTextField>
                </MudItem>
                <MudItem xs="3">
                    <MudTextField Immediate="true" @bind-Value="@Unit" Adornment="Adornment.End"
                        AdornmentColor="Color.Success" ReadOnly></MudTextField>
                </MudItem>
            </MudGrid>






            @{
                if (SubProject.ProjectId != 0)
                {
                    var project = Projects.Where(x => x.Id == SubProject.ProjectId).FirstOrDefault();

                    if (project != null)
                    {

                        isActive = project.IsActive;

                        if (project.IsActive == false)
                        {
                            SubProject.IsActive = project.IsActive;
                        }

                    }

                }
            }


            <br />
            <MudTextField T="string" Label="الوصف" Variant="Variant.Text" For="@(()=>SubProject.Note)"
                          @bind-Value="@SubProject.Note" Lines="2" ReadOnly="@ReadOnlyStatus" />



            @if (isActive)
            {
                <MudCheckBox Label="حاله التفعيل" @bind-Value="@SubProject.IsActive" Dense="true" Color="Color.Success"
                             class="mt-4" ReadOnly="@ReadOnlyStatus"></MudCheckBox>

            }
            else
            {
                <MudCheckBox Disabled Label="حاله التفعيل" @bind-Value="@SubProject.IsActive" Dense="true"
                              Color="Color.Success" class="mt-4" ReadOnly="@ReadOnlyStatus"></MudCheckBox>

            }





            @if (BtnName != ButtonTypes.Details)
            {
                <div class="mt-5 d-flex" style="gap: 10px;">
                    <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit"
                        Class="mud-button-root mud-button mud-button-outlined mud-button-outlined-info mud-button-outlined-size-medium mud-ripple "
                        style='font-size: 13px;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    padding: 5px 0px;'>@BtnName</MudButton>
                    <MudButton OnClick="Cancel"
                        Class="mud-button-root mud-button mud-button-outlined mud-button-outlined-error mud-button-outlined-size-medium mud-ripple"
                        style='font-size: 13px;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    padding: 5px 0px;'>الغاء</MudButton>
                </div>
            }
            <br />

        </EditForm>
    </DialogContent>

</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public SubProject OriginalSubProject { get; set; }
    [Parameter] public string BtnName { get; set; }
    public SubProject SubProject { get; set; }
    public string Unit = "يوم";

    [Parameter]
    public List<Project> Projects { get; set; }



    bool isActive = true;

    bool ReadOnlyStatus = false;




    protected override void OnParametersSet()
    {
        if (OriginalSubProject == null)
        {
            SubProject = new SubProject();




        }
        else
        {
            SubProject = new SubProject
                {
                    Id = OriginalSubProject.Id,
                    Name = OriginalSubProject.Name,
                    ProjectId = OriginalSubProject.ProjectId,
                    Duration = OriginalSubProject.Duration,
                    Date = OriginalSubProject.Date,
                    IsActive = OriginalSubProject.IsActive,
                    Note = OriginalSubProject.Note,
                    SubProjectType = OriginalSubProject.SubProjectType


                };

            if (BtnName == ButtonTypes.Details)
            {
                ReadOnlyStatus = true;
            }
        }
    }


    async void Submit()
    {
        if (!string.IsNullOrWhiteSpace(SubProject.Name))
        {
            if (SubProject.Id == 0)
            {

                var response = await Http.PostAsJsonAsync("api/SubProjects/AddOneAsync", SubProject);
                if (response.IsSuccessStatusCode)
                {
                    _Snackbar.Add("تمت اضافه المشروع الفرعي بنجاح!", Severity.Success);
                }
                else
                {
                    _Snackbar.Add($"فشل في اضافه المشروع الفرعي: {response.StatusCode}", Severity.Error);
                }



            }
            else
            {


                var response = await Http.PutAsJsonAsync("api/SubProjects", SubProject);
                if (response.IsSuccessStatusCode)
                {
                    _Snackbar.Add("تم تعديل المشروع الفرعي بنجاح!", Severity.Success);
                }
                else
                {
                    _Snackbar.Add($"فشل في تعديل المشروع الفرعي: {response.StatusCode}", Severity.Error);
                }


            }

            MudDialog.Close(DialogResult.Ok(true));
            // Trigger the OnClose event
            OnClose.InvokeAsync(true);
        }
    }

    void Cancel() => MudDialog.Cancel();
}
