@page "/SubProject"
@rendermode InteractiveAuto

@inject HttpClient Http

@inject IDialogService _DialogService 
@inject ISnackbar _Snackbar

<style>
    :root {
        --color-custom: #3090C7;
    }


</style>


<br />

<!--اسم الصفحه-->
<p style=" margin-bottom:2% ;">


    <span style="background-color:#DBE9FA ;font-size:x-large;color:#52595D">

        <MudIcon Icon="@Icons.Material.Filled.InsertDriveFile" Size="Size.Large" Style="color:#566D7E ;margin-bottom:2px" />

        المشاريع الفرعية

        <b style="color:dodgerblue;font-size:xx-large">|</b>


    </span>

</p>

<MudTable ServerData="@(new Func<TableState, Task<TableData<SubProject>>>(ServerReload))"
          Dense="true" Hover="true" @ref="table">
    <ToolBarContent>

        <MudFab OnClick="OpenAddDialog" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add" Class="My-Add-Btn" Label="اضافة مشروع فرعي" Size="Size.Small" Style=" background-color:var(--color-teal);color:white;" />
  
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>

    </ToolBarContent>
    <HeaderContent>

        <MudTh><MudTableSortLabel SortLabel="name_field" T="SubProject">المشروع الفرعي</MudTableSortLabel></MudTh>

        <MudTh><MudTableSortLabel SortLabel="project_field" T="SubProject">المشروع الرئيسي</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="duration_field" T="SubProject">المدة</MudTableSortLabel></MudTh>

        <MudTh><MudTableSortLabel  T="SubProject">حاله التفعيل</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel  T="SubProject">الاجراءت</MudTableSortLabel></MudTh>
      
        
       
    </HeaderContent>
    <RowTemplate>

            <MudTd DataLabel="Name">@context.Name</MudTd>

            <MudTd DataLabel="Project">@context.Project.Name</MudTd>
            <MudTd DataLabel="Duration">@context.Duration</MudTd>

            <MudTd DataLabel="IsActive">

                @{
                var isActive = @context.IsActive;

                if (isActive)
                {
                    <MudIcon Icon="@Icons.Material.Filled.CheckCircleOutline" Color="Color.Success" Class="icon-color" />
                }

                else
                {
                    <MudIcon Icon="@Icons.Material.Filled.HighlightOff" Color="Color.Error" Class="icon-color" />
                }

            }

        </MudTd>



        <MudTd DataLabel="Actions">

                <MudButtonGroup Variant="Variant.Outlined" OverrideStyles="false">
                <MudButton Color="Color.Info" Variant="Variant.Outlined" @onclick="@(() => OpenEditDialog(context))" StartIcon="@Icons.Material.Outlined.Edit">تعديل</MudButton>
                <MudButton Color="Color.Warning" Variant="Variant.Outlined" @onclick="@(() => OpenEditDialog(context, ButtonTypes.Details))" StartIcon="@Icons.Material.Outlined.AddRoad">تفاصيل</MudButton>
                <MudButton Color="Color.Error" Variant="Variant.Outlined" @onclick="@(() => DeleteBranch(context.Id))" StartIcon="@Icons.Material.Outlined.DeleteOutline">حدف</MudButton>
                </MudButtonGroup>

          
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>




    @code {
    public IEnumerable<SubProject> pagedData;
    private MudTable<SubProject> table;

    private int totalItems;
    private string searchString = null;

    public List<Project> Projects { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Projects = await Http.GetFromJsonAsync<List<Project>>("https://localhost:7210/api/Projects/GetAllAsync");
    }



    /// <summary>
    /// Here we simulate getting the paged, filtered and ordered data from the server
    /// </summary>

    public IEnumerable<SubProject> data = new List<SubProject>();

    private async Task<TableData<SubProject>> ServerReload(TableState state)
    {
        data = await Http.GetFromJsonAsync<List<SubProject>>("https://localhost:7210/api/SubProjects/GetAllAsync");
       
        data = data.Where(subProject =>
        {
            if (string.IsNullOrWhiteSpace(searchString))
                return true;
            if (subProject.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if ($"{subProject.Id}".Contains(searchString))
                return true;
            return false;
        }).ToArray();
        totalItems = data.Count();
        switch (state.SortLabel)
        {
           
            case "name_field":
                data = data.OrderByDirection(state.SortDirection, o => o.Name);
                break;

            case "project_field":
                data = data.OrderByDirection(state.SortDirection, o => o.Project.Name);
                break;

            case "duration_field":
                data = data.OrderByDirection(state.SortDirection, o => o.Duration);
                break;
        }

        pagedData = data.Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray();
        return new TableData<SubProject>() { TotalItems = totalItems, Items = pagedData };
    }

    private void OnSearch(string text)
    {
        searchString = text;
        table.ReloadServerData();
    }
}




    @code {



    //<!--==================     Add / Edit Dialog      =========================================-->

    private void OpenAddDialog()
    {
        var parameters = new DialogParameters();
        parameters.Add("OnClose", EventCallback.Factory.Create<bool>(this, RefreshData));

        parameters.Add("BtnName", "اضافه");
        parameters.Add("Projects", Projects);  // Pass the projects list here


        _DialogService.Show<_SubProject_Add_Dialog>("اضافة مشروع فرعي جديد", parameters);
    }

    private void OpenEditDialog(SubProject subProject, string optionalParameter = "")
    {
        var parameters = new DialogParameters();
        parameters.Add("OnClose", EventCallback.Factory.Create<bool>(this, RefreshData));
        parameters.Add("OriginalSubProject", subProject);

        parameters.Add("Projects", Projects);  // Pass the projects list here

        var options = new DialogOptions() { CloseButton = true };

        if (optionalParameter == ButtonTypes.Details)
        {
            parameters.Add("BtnName", ButtonTypes.Details);
            _DialogService.Show<_SubProject_Add_Dialog>("تفاصيل المشروع الفرعي", parameters, options);
        }
        else
        {
            parameters.Add("BtnName", ButtonTypes.Edit);
            _DialogService.Show<_SubProject_Add_Dialog>("تعديل المشروع الفرعي", parameters, options);
        }

       
    }

    private async void RefreshData(bool dialogResult)
    {
        if (dialogResult)
        {
            // Reload the table data
            table.ReloadServerData();
        }
    }



    private async Task DeleteBranch(int subProjectId)
    {
        SubProject? selectedSubProject = data.SingleOrDefault(b => b.Id == subProjectId);

        if (selectedSubProject != null)
        {
            var parameters = new DialogParameters() { { "SubProjectName", selectedSubProject.Name } };
            var dialog = _DialogService.Show<_SubProjectConfirmDeleteDialog>("الرجاء التأكيد", parameters);

            var result = await dialog.Result;

            if (!result.Cancelled && result.Data is bool data && data)
            {
                // User confirmed deletion, proceed with deletion

                // Try to delete the branch using the API controller
                var response = await Http.DeleteAsync($"https://localhost:7210/api/SubProjects/{subProjectId}");

                if (response.IsSuccessStatusCode)
                {
                    // Show a success message
                    _Snackbar.Add("تم حذف بيانات المشروع الفرعي بنجاح", Severity.Success);

                    // Reload the table data
                    table.ReloadServerData();
                }
                else
                {
                    // Deletion failed
                    _Snackbar.Add("حدث خطاء اثناء حذف بيانات الفرع!", Severity.Error);
                }

                StateHasChanged();
            }
        }
    }



}


