@page "/"
@page "/Login"

@using Blazored.LocalStorage
@using Microsoft.AspNetCore.WebUtilities
@using ReceiptVoucher.Core.Models
@using ReceiptVoucher.Core.Models.Dtos.Auth

@rendermode InteractiveAuto

@attribute [AllowAnonymous]

@* @inject HttpClient _httpClient *@
@inject ReceiptVoucher.Client.Services.IAuthService _AuthService
@inject ILocalStorageService _LocalStorage
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject NavigationManager _NavigationManager


@using _LoginLayout

@layout LoginLayout
<style>
    :root {
        --color-custom: #3090C7;
    }
</style>

<section class="">
    <div class="container-fluid h-custom">
        <div class="form-img row d-flex justify-content-around h-100">
            <div class="col-12 col-md-6 col-xl-5 p-0">
                <img src="images\loginicon.jpg"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-12 col-md-6 col-xl-4 offset-xl-1"
                 style="padding: 2%;margin-bottom: 2rem;">

                <p style=" margin-bottom: 5rem;">

                    <b style="color:dodgerblue;font-size:xx-large">|</b>
                    <span class="mainTitle">

                        <MudIcon Icon="@Icons.Material.Filled.Apartment" Size="Size.Large" Style="color:#566D7E ;margin-bottom:2px" />

                        تسجيل الدخول

                    </span>

                </p>

                <EditForm Model="model" OnValidSubmit="HandleLogin"  Class="custom-form">
                    <DataAnnotationsValidator />

                    <MudTextField Immediate="false" Label="البريد الالكتروني" id="form3Example3"
                        class="form-control form-control-lg" For="@(()=>model.Email)" @bind-Value="@model.Email"
                        Adornment="Adornment.End" AdornmentColor="Color.Success"></MudTextField>
                    
                    
                    <MudTextField T="string" id="form3Example4" class="form-control form-control-lg" Label="كلمة السر"
                        Variant="Variant.Text" For="@(()=>model.Password)" @bind-Value="@model.Password" />
                    
                    <div class="d-flex justify-content-end mt-2">
                        <!-- Checkbox -->
@*                         <div class="form-check mb-0">
                            <MudCheckBox Size="Size.Small" @bind-Value="@model.RemmberMe" Dense="true"
                                Color="Color.Info" class="form-check-input me-2" id="form2Example3"></MudCheckBox>
                            <label class="form-check-label" for="form2Example3">
                                تذكرني
                            </label>
                        </div> *@
                        <a href="#!" class="text-body" style="color: var(--color-custom) !important;font-weight: 400;">هل نسيت كلمة المرور؟</a>
                        @* <a href="register" class="text-body">انشاء حساب</a> *@
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">

                        @* <MudButton ButtonType="ButtonType.Submit" class="btn btn-primary btn-lg" id="LoginBtn" style="padding-left: 2.5rem; padding-right: 2.5rem;background-color:var(--color-custom);color :white">تسجيل الدخول</MudButton> *@
                        <MudButton ButtonType="ButtonType.Submit" class="d-block m-auto mud-button" id="LoginBtn" style='    font-family: "Tajawal", sans-serif;'>تسجيل الدخول</MudButton>
                    </div>
                </EditForm>
                <div class="text-danger">
                    <span>@errorMessage</span>
                </div>
            </div>
        </div>
    </div>
    <div class="login-footer d-flex bg-primary p-2 align-center justify-center">
        <!-- Copyright -->
        <div class="text-white ">
            Copyright © 2020. All rights reserved.
        </div>
        <!-- Copyright -->
        <!-- Right -->
        @* <div>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div> *@
        <!-- Right -->
    </div>
</section>
@code {
    public LoginModel model { get; set; } = new LoginModel();
    private string errorMessage = string.Empty;

    private string returnUrl = string.Empty;

    protected override void OnInitialized()
    {
        var uri = _NavigationManager.ToAbsoluteUri(_NavigationManager.Uri);

        if ( QueryHelpers.ParseQuery(uri.Query).TryGetValue("returnUrl", out var url) )
        {
            returnUrl = url;
        }
    }

    private async Task HandleLogin()
    {
        var result = await _AuthService.LoginAsync(model);
        if (result.Success)
        {
            errorMessage = string.Empty;
            await _LocalStorage.SetItemAsStringAsync("authToken", result.Data.Token);
            await _AuthenticationStateProvider.GetAuthenticationStateAsync();

            _NavigationManager.NavigateTo("home");
        }
        else
        {
            errorMessage = result.Message + " -- \n";
        }
    }

    <!-----------------       Services    --------------------->
    // private async Task<BaseResponse<AuthModel>> LoginAsync(LoginModel model)
    // {
    //     var result = await _httpClient.PostAsJsonAsync("api/Auth/token", model);
    //     return await result.Content.ReadFromJsonAsync<BaseResponse<AuthModel>>();
    // }

}
